$color70: #70c05b;
$color8F: #8f8f8f;
$color41: #414141;
$color23: #232323;
$color60: #606060;
$colorF3: #f3f2f1;

$colorFBF: #fbf8ec;
$colorFFF: #ffffff;
$colorFF6: #ff6633;
$colorBFB: #bfbfbf;
// $color
// $color
// $color
// $color
// $color
