@import "../../App.scss";
.products {
  margin: 24px 0px 80px;

  &__btnBox {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 60px 0px 24px;

    button:nth-child(2) {
      color: $colorFF6;
    }
  }
  &__btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    background: transparent;
    cursor: pointer;
    color: $color60;
    span {
      padding: 7px;
      background: $color70;
      border-radius: 5px;
      margin-right: 8px;
      i {
        color: $colorFFF;
      }
    }
  }

  &__general {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 75% 25%;
  }

  &__text {
    margin-bottom: 10px;
    color: $color8F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    span {
      color: $color41;
    }
  }
  &__line {
    width: 100%;
    height: 2px;
    background: #f3f2f1;
    margin: 24px 0px;
  }
  .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price {
    color: $color41;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: right;
  }
  &__bunus {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color70;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    gap: 8px;
  }

  &__orderBtn {
    width: 100%;
    font-size: 24px;
    color: $colorFFF;
    margin-top: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding: 18px 16px;
    background: $colorFF6;
    border-radius: 8px;
    cursor: pointer;
  }
  &__alert {
    width: 234px;
    margin: 0 auto;
    color: $colorFFF;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 8px;
    line-height: 18px;
    text-align: center;
    background: #d80000;
    border-radius: 3px;
    margin-top: 27px;
  }
  &__emty {
    margin-top: 20px;
    text-align: center;
    &-img{
      width: 100%;
    }
    &-inner {
      font-size: 30px;
      font-weight: 500;
      line-height: 36.57px;
      color: #000000;
      margin-top: 20px;
    }
    &-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 27.32px;
      color: #838383;
      margin-bottom: 20px;
    }
    &-link{
      display: block;
      max-width: 300px;
     margin: 0 auto;
      color: $colorFFF;
      padding: 20px 30px;
      background: $color41;
      border-radius: 20px;
    }
  }
}

// @media screen and (max-width: 992px) {
//   .products {
//   }
// }

@media screen and (max-width: 768px) {
  .products {
    &__general {
      grid-template-columns: repeat(1, 100%);
    }
    &__orderBtn {
      background: #fcd5ba;
      color: $colorFF6;
    }
  }
}
