@import "../../App.scss";

.likes {
  margin-top: 24px;
  &__general {
    margin-top: 70px;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
  }

  &__empty{
    height: 50vh;
    text-align: center;
    &-title{
      margin-top: 80px;
      font-size: 68px;
      color: $color41;
    }
    &-link{
      display: block;
      margin-top: 30px;
      color: $color60;
      font-size: 25px;
      transition: all .4s ease-out;
    }
    &-link:hover,
    &-link:active,
    &-link:focus{
      color: $colorFF6
    }
  }
}

@media screen and (max-width:992px) {
  .likes {
  &__general {
  grid-template-columns: repeat(1, 100%);
  }
   .filter{
    display: none;
   }

   &__empty{
margin-top: 150px;
    &-title{
      margin-top: 40px;
      font-size: 44px;
    }
    &-link{
      font-size: 18px;
    }
  }
  }
}